body {
  font-family: "Luckiest Guy", cursive;
  background-color: #3e210b;
}

.game-area {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
}

.game-area h2 {
  font-size: 2rem;
  font-weight: 700;
}
.inputname {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inputField {
  border-radius: 1rem;
  width: 100%;
  height: 30px;
}
.inputButton {
  z-index: 2000;
    width: 100%;
  max-width: 100px;
  text-align: center;
  padding: 0.5rem;
    font-family: "Lobster", cursive;
  font-size: 1rem;
    text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background: #5e0d0c;
  outline: none;
  border-radius: 15px;
  border: 1px solid #4c0300;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */
    inset 0 0 6px #a23227,
    /* inner glow */
    inset 0 80px 80px -40px #ac3223,
    /* gradient */
    1px 1px 3px rgba(0, 0, 0, 0.75);
  /* shadow */
  overflow: visible;
  /* IE9 & 10 */
  -webkit-transition: 500ms linear;
  -moz-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;
}
.santa {
  width: fit-content;
  transform: translateY(-100%);
  position: absolute;
}

.santa img {
  width: 150px;
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.ball {
  width: 80px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  background-image: url("./assets/pallo-lp.png");
  background-size: contain;
  animation: spin 1s linear infinite;
  z-index: 2;
  background-repeat: no-repeat;
}

.ballMarker {
  top: 50%;
  left: -50%;
  width: 200px;
  position: absolute;
}

.ballMarker {
  top: 50%;
  left: -50%;
  width: 200px;
  position: absolute;
}

.distance {
  position: absolute;
  z-index: 3;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.792);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-block-start: 0.5rem;
}

.st0 {
  fill: #77b3d4;
}

.st1 {
  opacity: 0.2;
}

.st2 {
  fill: #231f20;
}

.st3 {
  fill: #ffffff;
}

@keyframes hit {
  0% {
    transform: scaleX(1) rotate(0deg);
    /* Start position facing left */
    left: 50px;
  }

  100% {
    transform: scaleX(-1) rotate(0deg);
    /* End position, bat is mirrored and rotated right */
    left: 135px;
  }
}

.bat {
  transform: rotate(0deg);
  width: 100px;
  height: 100px;
  background-image: url("./assets/maila-lp.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 25px;
  z-index: 1;
}

.hit {
  animation: hit 0.05s forwards;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hud {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.777);
  font-size: 0.9rem;
}

.ground {
  height: 50px;
  position: absolute;
  background-image: url("./assets/bg-new.png");
  background-size: contain;
  transform: translateY(-100%);
  z-index: -10;
}

.background {
  background-image: url("./assets/bg3-lp.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 55vh;

  bottom: 0vh;
  position: absolute;
}

@keyframes moveDown {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -600%;
  }
}

.snow {
  background-image: url("./assets/snow.png");
  position: absolute;
  background-size: auto;
  background-repeat: repeat;
  height: 95vh;
  animation: moveDown 90s linear infinite; /* adjust duration and timing function as needed */
}
.snow2 {
  background-image: url("./assets/snow.png");
  position: absolute;
  background-size: auto;
  background-repeat: repeat;
  height: 95vh;
  animation: moveDown 140s linear infinite; /* adjust duration and timing function as needed */
}

.background2 {
  background-image: url("./assets/bg2-lp.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 300000px;
  height: 80vh;
  position: absolute;
  z-index: -10;
}

.marker {
  position: absolute;
  display: flex;
  justify-content: center;
}

.marker img {
  width: 200px;
}

.marker div {
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
  position: absolute;
  font-size: 2.9rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Luckiest Guy", cursive;
}

@keyframes fontGrowAndShrink {
  0% {
    font-size: 1rem;
    opacity: 1;
  }

  50% {
    /* Half of the total animation time to grow */
    font-size: 15rem;
    opacity: 1;
  }

  75% {
    /* Maintain for 25% of the total time */
    font-size: 15rem;
    opacity: 1;
  }

  100% {
    font-size: 0rem;
    opacity: 0;
  }
}

.hype {
  font-family: "Luckiest Guy", cursive;
  color: yellow;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fontGrowAndShrink 1s ease-in-out;
  z-index: 5000;
}

/* UI-Stuff */

.navbar {
  position: absolute;
  z-index: 10000;
  border: 2px solid blue;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.nav-left {
  border: 2px solid blue;
}

.nav-center {
  border: 2px solid blue;
}
.nav-center .scoresContainer {
}

.nav-center .scoresContainer .scores-button {
}

.nav-right {
  border: 2px solid rgb(26, 255, 0);
}

.nav-right .settings-button {
}

.nav-right .settingsContainer {
}

.nav-right .settingsContainer .game-speed {
}
