body {
  font-family: "Luckiest Guy", cursive;
  background-color: #3e210b;
}

.game-area {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
}

.game-area h2 {
  font-size: 2rem;
  font-weight: 700;
}
.inputname {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 6000;
}
.inputField {
  border-radius: 1rem;
  width: 100%;
  height: 30px;
}
.inputButton {
  
}
.santa {
  width: fit-content;
  transform: translateY(-100%);
  position: absolute;
}

.santa img {
  width: 150px;
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.ball {
  width: 80px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  background-image: url("./assets/pallo-lp.png");
  background-size: contain;
  animation: spin 1s linear infinite;
  z-index: 2;
  background-repeat: no-repeat;
}

.ballMarker {
  top: 50%;
  left: -50%;
  width: 200px;
  position: absolute;
}

.ballMarker {
  top: 50%;
  left: -50%;
  width: 200px;
  position: absolute;
}

.distance {
  position: absolute;
  z-index: 3;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.792);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-block-start: 0.5rem;
}

.st0 {
  fill: #77b3d4;
}

.st1 {
  opacity: 0.2;
}

.st2 {
  fill: #231f20;
}

.st3 {
  fill: #ffffff;
}

@keyframes hit {
  0% {
    transform: scaleX(1) rotate(0deg);
    /* Start position facing left */
    left: 50px;
  }

  100% {
    transform: scaleX(-1) rotate(0deg);
    /* End position, bat is mirrored and rotated right */
    left: 135px;
  }
}

.bat {
  transform: rotate(0deg);
  width: 100px;
  height: 100px;
  background-image: url("./assets/maila-lp.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 25px;
  z-index: 1;
}

.hit {
  animation: hit 0.05s forwards;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hud {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.777);
  font-size: 0.9rem;
}

.ground {
  height: 50px;
  position: absolute;
  background-image: url("./assets/bg-new.png");
  background-size: contain;
  transform: translateY(-100%);
  z-index: -10;
}

.background {
  background-image: url("./assets/bg3-lp.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 55vh;

  bottom: 0vh;
  position: absolute;
}

@keyframes moveDown {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -600%;
  }
}

.snow {
  background-image: url("./assets/snow.png");
  position: absolute;
  background-size: auto;
  background-repeat: repeat;
  height: 95vh;
  animation: moveDown 60s linear infinite; /* adjust duration and timing function as needed */
}

.background2 {
  background-image: url("./assets/bg2-lp.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 300000px;
  height: 80vh;
  position: absolute;
  z-index: -10;
}

.marker {
  position: absolute;
  display: flex;
  justify-content: center;
}

.marker img {
  width: 200px;
}

.marker div {
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
  position: absolute;
  font-size: 2.9rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Luckiest Guy", cursive;
}

@keyframes fontGrowAndShrink {
  0% {
    font-size: 1rem;
    opacity: 1;
  }

  50% {
    /* Half of the total animation time to grow */
    font-size: 15rem;
    opacity: 1;
  }

  75% {
    /* Maintain for 25% of the total time */
    font-size: 15rem;
    opacity: 1;
  }

  100% {
    font-size: 0rem;
    opacity: 0;
  }
}

.hype {
  font-family: "Luckiest Guy", cursive;
  color: yellow;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fontGrowAndShrink 1s ease-in-out;
  z-index: 5000;
}

/* UI-Stuff */
.navbarOuter {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  }
.navbar {
  padding: 0.3rem;
  text-align: center;
  min-width: 600px;
}
.valotausta {
  background-color: red;
  background-image: url("./assets/green_stripes.png");
  background-repeat: repeat;
  background-size: cover;
  border-radius: 20px;
  animation: moveDown2 10s linear infinite;
}
@keyframes moveDown2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0% 600%;
  }
}
.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  padding: 0.5rem;
}
.navbarTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.highScoreButtonContainer {
  z-index: 40;
  text-align: center;
}
.highScoreButton {
  transform: translate(0%, 0%);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
.navbarLeft {
  flex-basis: 40%;
  text-align: left;
}
.navbarCenter {
  flex-basis: 20%;
}
.navbarRight {
  text-align: right;
  flex-basis: 40%;
}
.highScoreBox {
  justify-content: space-around;
  display: flex;
  width: 100%;
  background-color: red;
  border-radius: 20px;
}
.dailyChallenge {
  flex-basis: 20%;
}
.highScoreData {
  
  width: 100%;
}
.dailyChallengeTop5 {
  flex-basis: 20%;
}


